<%= form_with(model: category) do |form| %>
  <% if category.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(category.errors.count, "error") %> prohibited this category from being saved:</h2>

      <ul>
        <% category.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :image %>
    <%= form.text_field :image %>
  </div>

  <div class="field">
    <%= form.label :sub_categories %>
    <%= form.number_field :sub_categories %>
  </div>

  <div class="field">
    <%= form.label :article_type_id %>
    <%= form.text_field :article_type_id %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
