<p id="notice"><%= notice %></p>

<p>
  <strong>Image:</strong>
  <%= @category.image %>
</p>

<p>
  <strong>Sub categories:</strong>
  <%= @category.sub_categories %>
</p>

<p>
  <strong>Article type:</strong>
  <%= @category.article_type_id %>
</p>

<%= link_to 'Edit', edit_category_path(@category) %> |
<%= link_to 'Back', categories_path %>
